<div class="container m-5">
  <div class="row justify-content-center bg-black rounded  m-5">
    <div class="col">
      <h1 class="display-3 text-center secondary-text">Sign up for Alpha Blog</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <%= render 'form' %>
    </div>
  </div>
</div>
