
<div class="container bg-dark m-5" id="home">
  <div class="jumbotron d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 text-white">Alpha Blog</h1>
    <p class="lead text-white">Best Blog Online</p>
    <hr class="text-white my-4">
    <p class="text-white">Some description text</p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-darkgreen" %>
  </div>
</div>


